<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>untitled_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,276},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{22,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{122,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{130,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,250},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,116},{24,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,216},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,112},{32,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,107},{42,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,392},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{54,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,93},{70,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,216},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>untitled_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ring.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0be6a32f63a95c91baeb1783df1a552$</string>
            <key>textureFileName</key>
            <string>ring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
